{% extends 'dashboard/base.html' %}


    {% block content %}
    This is inventory dashboard
    <br><br>
    <a href="{% url 'system_dashboard' %}" role="button">Home</a>
    <br><br>
    <br><br>
    <a href="{% url 'item_master_list' %}" role="button">Item Master</a>
    <br><br>
    <a href="{% url 'receiving_transaction_list' %}">Receiving Transaction</a>
    <br><br>
    <a href="{% url 'qa_transaction_list' %}">QA Transaction</a>
    <br><br>
    <a href="{% url 'return_to_supplier_list' %}">Return to Supplier </a>
    <br><br>
    <a href="{% url 'material_requisition_entry_list' %}">Material Request Entry</a>
    <br><br>
    <a href="{% url 'issuing_transaction_list' %}">Issuing Transaction</a>
    <br><br>
    <a href="{% url 'scrap_transaction_list' %}">Scrap Transaction</a>
    <br><br>
    <a href="{% url 'inventory_maintenance' %}">Inventory Maintenance</a>
    <br><br>

{% endblock %}
